.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 1.5rem 1rem;
}

.heading {
  text-align: center;
  color: #fff;
  margin-bottom: 8%;

  &-main {
    font-size: 4.3rem;
    font-weight: 400;
    display: block;
    letter-spacing: .5rem;
  }
}


.center-content {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.animate-fade-in {
  background-image: linear-gradient(to right, $color-coffee-transformed, $color-grey-transformed), url(./assets/img/background1.jpg);
  background-size: cover;
  background-position: top;
  animation-name: animateButton;
  animation-duration: 4s;
}

.mt-24pc {
  margin-top: 24% !important;
}

.mb-medium {
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
  position: absolute;
  font-size: 1.7rem;
  font-weight: 400;
  color: $color-white;
}

.cssload-text {
  margin-top: 54%;
}

.cssload-container {
  max-height: 50%;
  margin-left: 43%;
  position: relative;
}

.cssload-primary {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  font-size: 4.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.display-none {
  display: none;
}

.btn-signUp {
  margin-top: -3rem;
  animation: none !important;
}

.aniate-none {
  animation: none !important;
}

.btn-login {
  animation: none !important;
}
