.header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right, $color-coffee-transformed, $color-grey-transformed), url(./assets/img/background.jpg);
  background-size: cover;
  background-position: top;
}

.main-header {
  background-image: linear-gradient(to right, $color-coffee-transformed, $color-grey-transformed), url(./assets/img/background.jpg);
  background-size: cover;
  background-position: top;
  padding: 20rem 0;
  height: 100vh;
}
